body {
    background-color: gray;
    color: whitesmoke;
}

.center {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction:column;
    height: 100vh;
}

